Asssingment 2 - Data Types and Structures Questions

1. What are data structures, and why are they important?
- Answer :- Data structures are ways of organizing and storing data so that it can be accessed and modified efficiently. They are important because they help optimize tasks such as searching, inserting, deleting, and updating data. The right data structure can significantly improve the performance and efficiency of algorithms.

2. Explain the difference between mutable and immutable data types with examples
- Answer :- •	Mutable data types can be changed after creation. Example: Lists, Dictionaries, Sets.
o	my_list = [1, 2, 3]
o	my_list[0] = 4 # Now the list is [4, 2, 3]
•	Immutable data types cannot be changed once they are created. Example: Strings, Tuples, Integers.
o	my_string = "hello"
o	my_string[0] = "H" # This will raise an error because strings are immutable.


3. What are the main differences between lists and tuples in Python?
- Answer :- •	Lists: Mutable (can be changed), denoted by square brackets [], can be resized, elements can be added or removed.
•	Tuples: Immutable (cannot be changed), denoted by parentheses (), fixed size, elements cannot be modified after creation.

4. Describe how dictionaries store data
- Answer :-  Dictionaries store data as key-value pairs. The keys are unique, and each key maps to a value. Dictionaries are unordered (in earlier Python versions) and allow for fast lookups based on keys.
•	Example: my_dict = {"name": "Alice", "age": 25}


5. Why might you use a set instead of a list in Python?
- Answer :- A set is used when you need to store unique values and care about   membership (whether an item is in the set or not), but do not care about the order of the elements. Sets automatically remove duplicates and are more efficient for checking membership than lists.
•	Example: my_set = {1, 2, 3}

6. What is a string in Python, and how is it different from a list?
- Answer :- A string is an immutable sequence of characters, whereas a list is a mutable collection of items that can be of any data type (e.g., integers, strings, etc.). Strings are typically used for text, while lists are more versatile for handling various types of data.
•	Example of a string: my_string = "hello"
•	Example of a list: my_list = [1, "hello", 3.5]

7. How do tuples ensure data integrity in Python?
- Answer :- Tuples ensure data integrity because they are immutable. Once a tuple is created, its elements cannot be modified, preventing accidental changes to the data.

8. What is a hash table, and how does it relate to dictionaries in Python?
- Answer :-A hash table is a data structure that stores data in key-value pairs, using a hash function to compute an index where the value should be stored. Python's dictionaries are implemented using hash tables, which allows for efficient O(1) average-time complexity for lookups.

9. Can lists contain different data types in Python?
- Answer :- Yes, lists in Python can contain elements of different data types. For example, a list can contain integers, strings, and even other lists.
•	Example: my_list = [1, "hello", 3.5, [1, 2]]

10. Explain why strings are immutable in Python
- Answer :- Strings are immutable to ensure their integrity and optimize memory usage. When strings are passed around, rather than being copied, references to the same string object are used. This improves performance and avoids the potential for accidental modification of string data.

11. What advantages do dictionaries offer over lists for certain tasks?
- Answer :- Dictionaries provide fast lookup times for keys, while lists require linear search. If you need to associate values with unique keys and quickly retrieve them, dictionaries are more efficient. For example, dictionaries are better for counting occurrences, mapping values, and handling associative data.

12. Describe a scenario where using a tuple would be preferable over a list
- Answer :- A tuple is preferable when you have a collection of data that should not be changed, such as coordinates (x, y) or constants that should not be modified after initialization. Tuples are faster than lists for such use cases because of their immutability.

13. How do sets handle duplicate values in Python?
- Answer :- Sets automatically remove duplicates. If you try to add a duplicate item to a set, it won't be added again.
•	Example: my_set = {1, 2, 2, 3} results in my_set = {1, 2, 3}.

14. How does the “in” keyword work differently for lists and dictionaries?
- Answer :- •	In lists, in checks if a value exists in the list.
o	Example: 5 in [1, 2, 3, 4] returns False.
•	In dictionaries, in checks if a key exists in the dictionary.
o	Example: 'name' in {'name': 'Alice'} returns True.

15. Can you modify the elements of a tuple? Explain why or why not.
- Answer :- No, you cannot modify the elements of a tuple because tuples are immutable. This immutability is a key feature that ensures the data inside the tuple remains unchanged.

16. What is a nested dictionary, and give an example of its use case?
- Answer :- A nested dictionary is a dictionary that contains another dictionary as a value. It can be used to represent hierarchical data.
•	Example: nested_dict = {"student1": {"name": "Alice", "age": 20}, "student2": {"name": "Bob", "age": 22}}

17. Describe the time complexity of accessing elements in a dictionary
- Answer :- The average time complexity for accessing elements in a dictionary is O(1) due to the use of hash tables. This means that retrieving a value by key is very efficient, regardless of the size of the dictionary.

18. In what situations are lists preferred over dictionaries?
- Answer :- Lists are preferred when the order of the elements matters, and you may need to access them by index. Lists are also useful when you have a collection of items without the need for key-value pair mapping.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Answer :- Dictionaries are considered unordered because their elements are stored in a way that does not guarantee any specific order. This means that when you iterate over a dictionary, the order of the keys is not guaranteed. However, data retrieval is efficient based on the key, not order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- Answer :- •	List: Accessing an element requires an index and takes O(1) time for direct access.
•	Dictionary: Accessing an element requires a key, and because dictionaries are implemented using hash tables, data retrieval is also O(1) on average.

Practical Questions:-

In [1]:
# Write a code to create a string with your name and print it
# Creating a string with my name
name = "SARTHAK"

# Printing the string
print(name)

SARTHAK

In [2]:
# Write a code to find the length of the string "Hello World"
# Defining the string
text = "I am a good player"

# Finding the length of the string
length = len(text)

# Printing the length
print(length)

18

In [3]:
# Write a code to slice the first 3 characters from the string "Python Programming
# Defining the string
text = "Python Programming"

# Slicing the first 3 characters
sliced_text = text[:3]

# Printing the sliced text
print(sliced_text)

Pyt

In [5]:
# Write a code to convert the string "hello" to uppercase
# Defining the string
text = "hello"

# Converting the string to uppercase
uppercase_text = text.upper()

# Printing the uppercase string
print(uppercase_text)

HELLO

In [6]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple

# Defining the string
text = "I like apple"

# Replacing "apple" with "orange"
new_text = text.replace("apple", "orange")

# Printing the new string
print(new_text)

I like orange

In [7]:
# Write a code to create a list with numbers 1 to 5 and print it
# Creating the list with numbers from 1 to 5
numbers = [1, 2, 3, 4, 5]

# Printing the list
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]

# Defining the list
numbers = [1, 2, 3, 4]

# Appending the number 10 to the list
numbers.append(10)

# Printing the updated list
print(numbers)

[1, 2, 3, 4, 10]

In [9]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
# Defining the list
numbers = [1, 2, 3, 4, 5]

# Removing the number 3 from the list
numbers.remove(3)

# Printing the updated list
print(numbers)

[1, 2, 4, 5]

In [10]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
# Defining the list
letters = ['a', 'b', 'c', 'd']

# Accessing the second element (index 1)
second_element = letters[1]

# Printing the second element
print(second_element)

b

In [11]:
# Write a code to reverse the list [10, 20, 30, 40, 50]

# Defining the list
numbers = [10, 20, 30, 40, 50]

# Reversing the list
numbers.reverse()

# Printing the reversed list
print(numbers)

[50, 40, 30, 20, 10]

In [12]:
#  Write a code to create a tuple with the elements 100, 200, 300 and print it
# Creating the tuple
my_tuple = (100, 200, 300)

# Printing the tuple
print(my_tuple)

(100, 200, 300)

In [13]:
#  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
# Defining the tuple
my_tuple = ('red', 'green', 'blue', 'yellow')

# Accessing the second-to-last element using negative indexing
second_to_last_element = my_tuple[-2]

# Printing the second-to-last element
print(second_to_last_element)

blue

In [14]:
#  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

# Defining the tuple
my_tuple = (10, 20, 5, 15)

# Finding the minimum number in the tuple
min_number = min(my_tuple)

# Printing the minimum number
print(min_number)

5

In [15]:
#  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

# Defining the tuple
my_tuple = ('dog', 'cat', 'rabbit')

# Finding the index of the element "cat"
index_of_cat = my_tuple.index('cat')

# Printing the index
print(index_of_cat)

1

In [16]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

# Creating the tuple with three different fruits
fruits = ('apple', 'banana', 'cherry')

# Checking if "kiwi" is in the tuple
is_kiwi_in_tuple = 'kiwi' in fruits

# Printing the result
print(is_kiwi_in_tuple)

False

In [17]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.

# Creating the set with elements 'a', 'b', 'c'
my_set = {'a', 'b', 'c'}

# Printing the set
print(my_set)

{'a', 'c', 'b'}

In [18]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

# Defining the set
my_set = {1, 2, 3, 4, 5}

# Clearing all elements from the set
my_set.clear()

# Printing the empty set
print(my_set)

set()

In [19]:
 # Write a code to remove the element 4 from the set {1, 2, 3, 4}.
 # Defining the set
my_set = {1, 2, 3, 4}

# Removing the element 4 from the set
my_set.remove(4)

# Printing the updated set
print(my_set)

{1, 2, 3}

In [20]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

# Defining the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Finding the union of the two sets
union_set = set1.union(set2)

# Printing the union of the sets
print(union_set)

{1, 2, 3, 4, 5}

In [21]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

# Defining the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Finding the intersection of the two sets
intersection_set = set1.intersection(set2)

# Printing the intersection of the sets
print(intersection_set)

{2, 3}

In [23]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

# Creating the dictionary
my_dict = {
    "name": "sarthak",
    "age": 21,
    "city": "Dehradun"
}

# Printing the dictionary
print(my_dict)

{'name': 'sarthak', 'age': 21, 'city': 'Dehradun'}

In [24]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

# Defining the dictionary
my_dict = {'name': 'John', 'age': 25}

# Adding the new key-value pair
my_dict['country'] = 'USA'

# Printing the updated dictionary
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [25]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

# Defining the dictionary
my_dict = {'name': 'Alice', 'age': 30}

# Accessing the value associated with the key "name"
name_value = my_dict['name']

# Printing the value
print(name_value)

Alice

In [26]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

# Defining the dictionary
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Removing the key "age" from the dictionary
del my_dict['age']

# Printing the updated dictionary
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [27]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

# Defining the dictionary
my_dict = {'name': 'Alice', 'city': 'Paris'}

# Checking if the key "city" exists in the dictionary
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [28]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
# Creating the list
my_list = [1, 2, 3, 4, 5]

# Creating the tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating the dictionary
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}

# Printing the list, tuple, and dictionary
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

In [29]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

# Creating a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sorting the list in ascending order
random_numbers.sort()

# Printing the sorted list
print("Sorted list:", random_numbers)

Sorted list: [4, 5, 27, 74, 88]

In [30]:
# 28. Write a code to create a list with strings and print the element at the third index.
# Creating a list with strings
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Printing the element at the third index
print(my_list[3])

date

In [31]:
# 29. Write a code to combine two dictionaries into one and print the result.
# Defining two dictionaries
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'New York', 'job': 'Engineer'}

# Combining the two dictionaries
combined_dict = {**dict1, **dict2}

# Printing the combined dictionary
print(combined_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York', 'job': 'Engineer'}

In [32]:
# 30. Write a code to convert a list of strings into a set.
# Defining a list of strings
my_list = ["apple", "banana", "cherry", "apple", "date"]

# Converting the list to a set (duplicates will be removed)
my_set = set(my_list)

# Printing the set
print(my_set)

{'cherry', 'apple', 'banana', 'date'}